@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<div class="ui middle aligned center aligned grid login-grid-mobile">
    <div class="column">
        <h2 class="ui harmonify-color image header">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form id="account" method="post" class="ui large form">
            <div class="ui stacked segment">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input asp-for="Input.Email" class="form-control" type="email" autocomplete="username" aria-required="true" placeholder="E-mail address">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input asp-for="Input.Password" class="form-control" type="password" autocomplete="current-password" aria-required="true" placeholder="Password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <button id="login-submit" type="submit" class="ui fluid large harmonify-background-color submit button">Login</button>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="col-md-offset-2">
            <section>
                <hr/>
                <form id="external-account" asp-page="./ExternalLogin" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                if (provider.DisplayName.Equals("Google"))
                                {
                                    <button type="submit" class="fa fa-google" name="provider"
                                            value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <span class="si-text">Log in with Google</span>
                                    </button>
                                }
                            }
                        </p>
                    </div>
                </form>
            </section>
        </div>

        <div class="ui message">
            New to us? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign in</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}