@media screen and (min-width: 800px) {
    .ui.grid.login-grid-mobile {
        margin: -1rem 15rem !important;
        margin-top: 2% !important;
    }
}

@media (max-width: 639px) {
    .login-grid-mobile {
        margin: -1rem 2rem !important;
        margin-top: 2% !important;
    }
    .harmonify-menu {
        border-right: unset !important;
        width: 0;
        display: inline-flex !important;
        flex-direction: row !important;
    }
}

@media screen and (min-width: 576px) {
    .img-logo {
        max-width: 20%;
    }
}

@media (max-width: 575px) {
    .img-logo {
        max-width: 40%;
    }
}

.harmonify-background-color {
    background-color: #1C6444 !important;
    color: white !important;
}

.harmonify-color {
    color: #1C6444 !important;
}

.margin-btm-harmonify {
    margin-bottom: 5% !important;
}

@media (max-width: 639px){
    .login-display-mobile {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

.right-btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0.28571429rem !important;
    border-bottom-right-radius: 0.28571429rem !important;
}

.nav-color {
    background-image: linear-gradient(86deg, rgb(13 69 44) 30%, #758d4d 90%) !important;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 1) !important;
    border-color: rgba(255, 255, 255, 1) !important;
}