@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "Shared/_Layout";
    }
}

<h2 class="ui icon header middle aligned center aligned grid">
  <i class="settings big icon"></i>
  <div class="content">
    Account Settings
    <div class="sub header">Manage your account settings.</div>
  </div>
</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
