@page
@model AvatarModel
@{
    ViewData["Title"] = "Avatar";
    ViewData["ActivePage"] = ManageNavPages.Avatar;
}
<h3>@ViewData["Title"]</h3>
<div>
    <div class="col-md-6">
        <form class="form-floating mb-3" method="post" enctype="multipart/form-data">
                <div class="ui file action input">
                    <input asp-for="Upload" id="action-file-input" type="file" >
                    <label for="action-file-input" class="ui harmonify-background-color button">
                        <i class="camera icon"></i>
                        Choose avatar...
                    </label>
                </div>
            <button type="submit" class="positive ui fluid button">Upload avatar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}