<div class="navbar navbar-dark">
    <div class="container-fluid">
        <img class="px-2" style="max-width:100%;margin-bottom: 2%;" src="logo.png" alt="Logo"/>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="slideshare large icon"></i> Harmfeed
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Notifications">
                <i class="bell outline large icon"></i> Notifications
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MyProfile">
                <i class="user circle outline large icon"></i> My profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <i class="comment dots outline large icon"></i> Messages
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Friends">
                <i class="users large icon"></i> Friends
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}